# Systemd service to start this program with your server or PC

[Unit]
Description=Instance of Cheerios tV
After=network.target

[Service]
Type=simple
User=<YOUR USER>
WorkingDirectory=/path/to/cheerios-tv
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm run start -- -p <YOUR PORT>
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target