.weather {
  width: max-content;
  user-select: none;
  cursor: pointer;

  padding: 0.3rem 0.7rem;
  border-radius: 15px;

  transition: all 0.1s;

  &:hover + .hint {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover &__separator {
    transform: scaleX(1);
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 2px 0px;
    transform: scaleX(0);
    transition: all 0.2s ease;
  }

  &__icon-temp {
    display: flex;
    flex-direction: column;

    & > span {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: bold;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    line-height: 1;

    & > svg {
      --size: 1.8rem;
      width: var(--size);
      height: var(--size);
    }
  }
}

.red {
  color: #bb0f0f;
}

.hint {
  display: inline-block;
  opacity: 0;

  transition: all 0.2s ease;
  transform: translateY(-0.5rem);
  color: #888;
  user-select: none;

  line-height: 1;
}

.container-temp {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;

  &__wind {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: center;
    user-select: none;

    &__speed {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      font-weight: bold;

      &__value {
        font-size: 1.5rem;
      }

      &__unit {
        font-size: 0.9rem;
        color: #bb0f0f;
      }
    }
  }
}

.loader {
  width: 165px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    animation: rotate 0.5s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
