.radial-selector {
  position: absolute;
  width: 0;
  height: 0;
  top: var(--mouseY);
  left: var(--mouseX);
  z-index: 3100;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--radius) * 2.1);
    height: calc(var(--radius) * 2.1);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: #ffffff22;
    z-index: 1000;
    pointer-events: none;
    backdrop-filter: blur(10px);
  }

  &__exit {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3101;
    width: 10rem;
    height: 10rem;
    background-color: #00000099;
    box-sizing: content-box;
    border: 1px solid #00000000;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
    cursor: pointer;

    & > svg {
      transition: all .3s ease;
    }

    &:hover {
      border: 7px solid #ffffff33;

      & > svg {
        transform: rotate(-30deg);
      }
    }
  }

  &__item {
    position: absolute;
    z-index: 3200;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transform-origin: 0 0;
    transform: rotate(calc(360deg / var(--count) * var(--index))) translateX(calc(var(--radius) * var(--icon-inset))) rotate(calc(-360deg / var(--count) * var(--index)));

    & > a {
      position: absolute;
      display: block;
      line-height: 0;
      transform: translate(-50%, -50%);
    }

    & > a > img {
      display: block;
      width: calc(4rem * var(--icon-scale));
      height: calc(4rem * var(--icon-scale));
      max-width: none;
      object-fit: contain;
      transition: all .1s ease;
      cursor: pointer;
      user-select: none;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.container {
  background-color: #000000dd;
  position: fixed;
  inset: 0;
  z-index: 3000;
  animation: fadein .1s ease-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
