.search-bar {
    background-color: white;
    display: flex;
    width: 30rem;
    padding: .5rem 1rem;
    border-radius: 30rem;
    opacity: .6;
    transition: opacity .2s ease;   

    &__input {
        user-select: none;
        outline: none;
        width: 100%;
        color: #666;
    }

    & > svg {
        color: #ddd;
        cursor: pointer;
        padding: .2rem;
        border-radius: 100%;
        transition: all .2s ease;

        &:hover {
            background-color: #ddd;
            color: #666;
        }
    }
}