.search-bar {
  background-color: white;
  display: flex;
  width: 30rem;
  padding: 0.5rem 1rem;
  border-radius: 30rem;
  opacity: 0.6;
  transition: all 0.2s ease;

  &:focus-within {
    opacity: 0.8;
    box-shadow: 1px -1px 25px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 1px -1px 25px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 1px -1px 25px 0px rgba(255, 255, 255, 0.3);
  }

  &__input {
    user-select: none;
    outline: none;
    width: 100%;
    color: #666;
  }

  & > svg {
    color: #ddd;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 100%;
    transition: all 0.2s ease;

    &:hover {
      background-color: #ddd;
      color: #666;
    }
  }
}
