.input-array {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__element {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        animation: fade .2s ease;

        &__actions {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > button {
                color: #999;
                cursor: pointer;
                transition: all .1s ease;

                &:hover {
                    color: #ddd;
                }
            }
        }

        &__fields {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &__number {
                font-size: 3rem;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        filter: blur(12px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}