.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
      color: #ddd;
      font-size: 1.5rem;
      border-bottom: 1px solid #ffffff30;
      padding: 1rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
  }

  &__actions {
    &__save-button {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: #ffffff30;
        border-radius: 2rem;
        transition: all .2s ease;

        &:hover {
            background-color: #ffffff60;
        }
    }
  }
}
