.input-select {
  &__select {
    position: relative;
    width: 28rem;

    &__current {
      z-index: 20;
      padding: 0.3rem 0.7rem;
      background-color: #ffffff10;
      border-radius: 2rem;
      display: flex;
      cursor: pointer;
      user-select: none;

      & > span {
        width: 100%;
      }

      & > svg {
        transition: all .2s ease;
      }

      &__label {
        width: 6rem;
        color: #999;
      }
    }

    &__options {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: end;
      overflow: hidden;
      position: absolute;
      transition: all 0.4s ease;
      max-height: 0;

      &__option {
        background-color: #111;
        width: 20rem;
        margin-right: 2rem;
        padding: 0.3rem 1rem;
        cursor: pointer;

        &:nth-child(even) {
          background-color: #131313;
        }

        &:last-child {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        &:hover {
          background-color: #222;
        }
      }

      &--active {
        max-height: 20rem;
      }
    }
  }
}


.rotated {
    transform: rotate(180deg);
}